$bgColor: #fff;
$bgModalColor: rgba(0, 0, 0, 0.5);
$primaryColor: #ca8f48;
$textPrimaryColor: #333;
$textTertiaryColor: #bdbdbd;
$textFourthlyColor: #828282;
$textFifthlyColor: #000;
$borderPrimaryColor: #e5e5e5;
$borderSecondaryColor: #d2a268;
$borderTertiaryColor: #787878;
$borderFourthlyColor: #eb5757;
