.homepage-wrapper {
  display: none;
}
.auth {
  padding-top: 18px;
  padding-bottom: 24px;
}
.login,
.register {
  display: none;
  &.active {
    display: block;
  }
}
.login-header,
.register-header {
  position: relative;
  text-align: center;
  margin-bottom: 11px;
  p {
    @include typography(16px, 19px);
  }
}
.login-body,
.register-body {
  p {
    @include typography(14px, 16px, $textFourthlyColor);
    text-align: center;
  }
}
.form-wrapper {
  margin-top: 24px;
  a {
    display: inline-block;
    @include typography(14px, 16px, $primaryColor);
    margin-top: 12px;
  }
}
.form-wrapper.form-register {
  margin-top: 44px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  &.form-row {
    width: calc(100% + 12px);
    flex-direction: row;
    .form-item {
      width: 50%;
      padding-right: 12px;
    }
  }
  &.form-radio {
    flex-direction: row;
    .form-item-radio {
      margin-right: 54px;
      display: flex;
      label {
        margin-bottom: 0;
        transform: translateY(0.5px);
      }
      input {
        width: unset;
        padding: 0;
        &[type="radio"] {
          position: absolute;
          opacity: 0;
          + .radio-label {
            &::before {
              content: "";
              background-color: $bgColor;
              border: 1.5px solid $borderPrimaryColor;
              border-radius: 50%;
              display: inline-block;
              width: 17px;
              height: 17px;
              position: relative;
              top: -1.5px;
              margin-right: 10px;
              vertical-align: top;
              cursor: pointer;
              text-align: center;
              box-sizing: border-box;
            }
          }
          &:checked {
            + .radio-label {
              &::before {
                border: 5px solid $primaryColor;
              }
            }
          }
          &:focus {
            + .radio-label {
              &::before {
                outline: none;
                border-color: $primaryColor;
              }
            }
          }
          + .radio-label {
            &:empty {
              &::before {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  label {
    display: inline-block;
    @include typography(14px, 16px);
    margin-bottom: 12px;
  }
  input {
    width: 100%;
    outline: none;
    padding: 12px;
    background-color: $bgColor;
    border: 1px solid $borderPrimaryColor;
    @include typography(14px, 16px);
    transition: 0.5s;
    &.error {
      border: 1px solid $borderFourthlyColor;
    }
    &:focus {
      border: 1px solid $primaryColor;
    }
    &::-webkit-input-placeholder {
      @include typography(14px, 16px, $textTertiaryColor);
    }
    &::-moz-placeholder {
      @include typography(14px, 16px, $textTertiaryColor);
    }
    &[type="date"] {
      padding-left: 61px;
      color: $textTertiaryColor;
      &::-webkit-calendar-picker-indicator {
        background: url(../img/calendar.png) no-repeat;
        background-size: 16px;
        background-position-y: center;
        position: absolute;
        left: -11px;
        border-right: 1px solid $borderPrimaryColor;
        padding-right: 12px;
      }
    }
  }
  small {
    display: none;
    margin-top: 12px;
    @include typography(12px, 14px, $borderFourthlyColor);
    white-space: nowrap;
  }
}
.form-check {
  display: flex;
  &:last-child {
    label {
      margin-bottom: 0;
    }
  }
  a {
    display: inline;
    @include typography(14px, 16px);
  }
}
.label-check.label-check-auth {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.arrival-label,
.terms-label {
  transform: translateY(1px);
}
.input-password {
  position: relative;
  width: 100%;
  button {
    position: absolute;
    top: 13px;
    right: 12px;
    outline: none;
    border: 0;
    background-color: $bgColor;
    cursor: pointer;
    img {
      width: 16px;
    }
  }
}
.input-date {
  position: relative;
}
.form-footer-login,
.form-footer-register {
  margin-top: 268px;
  .btn-auth {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
    opacity: 0.6;
  }
  p {
    @include typography(14px, 16px, $textFourthlyColor);
    text-align: center;
    a {
      @include typography(14px, 16px, $primaryColor);
    }
  }
}
.form-footer-register {
  margin-top: 40px;
}
.modal-auth {
  display: none;
}

@media screen and (min-width: 768px) {
  .homepage-wrapper {
    display: block;
  }
  .auth {
    display: flex;
  }
  .content-auth {
    width: 386px;
    margin: auto;
    padding: 24px;
    background-color: $bgColor;
  }
  .form-footer-login {
    margin-top: 48px;
  }
}
