body {
  font-family: "Raleway", sans-serif;
  position: relative;
  overflow-x: hidden;
  &.overflow-navbar {
    overflow-y: hidden;
  }
}

@media screen and (min-width: 768px) {
  body {
    &.overflow-navbar {
      overflow-y: unset;
    }
    &.overflow-modal {
      overflow-y: hidden;
    }
  }
}
