.breadcrumbs {
  margin-top: 54px;
  padding-top: 24px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      &::before {
        content: "|";
        font-weight: 500px;
        @include typography(12px, 14px);
      }
      &:first-child::before {
        display: none;
      }
      a {
        @include typography(12px, 14px);
        text-decoration: none;
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
.hover-color {
  &-primary {
    transition: 0.5s;
    &:hover {
      color: $primaryColor;
    }
  }
  &-secondary {
    transition: 0.5s;
    &:hover {
      color: $textPrimaryColor;
    }
  }
  &-tertiary {
    transition: 0.5s;
    &:hover {
      color: $textFourthlyColor;
    }
  }
}
.hover-opacity {
  &-primary {
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
  &-secondary {
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  &-tertiary {
    transition: 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}
.img-block {
  display: block;
  width: 100%;
}
.custom-check {
  width: unset;
  padding: 0;
  &[type="checkbox"] {
    display: none;
    & + .label-check::before {
      content: "";
      background-color: $bgColor;
      border-radius: 2px;
      border: 1.5px solid $borderTertiaryColor;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      text-align: center;
      box-sizing: border-box;
    }
    & + .label-check.m-right::before {
      margin-right: 15px;
    }
    &:checked + .label-check.t-shadow {
      text-shadow: 0 0 0.65px $textPrimaryColor, 0 0 0.65px $textPrimaryColor;
    }
    &:checked + .label-check::before {
      background-color: $primaryColor;
      border: 1.5px solid transparent;
    }
    &:checked + .label-check::after {
      content: "";
      padding: 2px;
      position: absolute;
      display: block;
      height: 4px;
      border: solid $bgColor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: 3px;
      left: 5px;
      border-radius: 1px;
    }
    &:checked + .label-check.transform-check::after {
      top: 3.5px;
    }
  }
}
.label-check {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  @include typography(14px, 16px);
  transition: 0.5s;
}
.custom-radio {
  width: unset;
  padding: 0;
  &[type="radio"],
  &[type="checkbox"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &::before {
        content: "";
        border-radius: 50%;
        display: inline-block;
        width: 28px;
        height: 28px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
      }
    }
    &:checked {
      + .radio-label {
        opacity: 1;
        &::before {
          border: 1px solid $primaryColor;
        }
      }
    }
    &:focus {
      + .radio-label {
        &::before {
          outline: none;
          border-color: $primaryColor;
        }
      }
    }
  }
}
.btn {
  height: 40px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  @include typography(14px, 16px);
  &-primary {
    background-color: $primaryColor;
    border: 1px solid transparent;
    color: $bgColor;
  }
  &-outline {
    background-color: $bgColor;
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }
}
.custom-select {
  appearance: none;
  outline: none;
  background-color: $bgColor;
  border: 1px solid $borderPrimaryColor;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 500;
  @include typography(14px, 16px);
  background-image: url(../img/chevron-down.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position-x: 94%;
  background-position-y: center;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion-body {
  max-height: 0;
  overflow: hidden;
  &.active {
    max-height: 100%;
    overflow: visible;
  }
}
.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: $bgModalColor;
  &.auth {
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    overflow-y: unset;
    background-color: unset;
  }
}
.btn-close {
  position: absolute;
  top: -3px;
  right: 0;
  border: 0;
  outline: none;
  background-color: $bgColor;
  cursor: pointer;
  img {
    width: 20px;
  }
}
.font {
  &-medium {
    font-weight: 500;
  }
  &-semi-bold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
  &-extra-bold {
    font-weight: 800;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    &.auth {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: $bgModalColor;
    }
  }
}
