header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $bgColor;
  border-bottom: 1px solid $borderPrimaryColor;
  .navbar {
    height: 57px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-menu {
    height: 40px;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    margin-bottom: -3px;
    border: 0;
    &.scale {
      transform: scale(0);
    }
    img {
      width: 24px;
    }
  }
  .logo {
    display: flex;
    margin-left: 20px;
    a {
      height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Bentham", serif;
      @include typography(24px, 29px, $textFifthlyColor);
      cursor: pointer;
      white-space: nowrap;
      text-decoration: none;
    }
  }
  .navbar-menu {
    display: none;
  }
  .icon {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1);
    transition: 0.5s;
    &.scale {
      transform: scale(0);
    }
    a {
      display: flex;
      height: 40px;
      background-color: $bgColor;
      &.count-cart {
        position: relative;
        .count {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 6px;
          right: -4px;
          padding: 1px 5px;
          background-color: $primaryColor;
          border-radius: 8px;
          color: $bgColor;
          font-size: 11px;
        }
      }
    }
    img {
      width: 24px;
    }
  }
  .collections-menu {
    display: none;
  }
  .navbar-expand {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    padding-top: 10px;
    opacity: 0;
    transform: translateX(-100%);
    background-color: $bgColor;
    margin-top: -1px;
    transition: 1s;
    &.slide {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 25px 0 24px 16px;
    margin: 0 auto 16px;
    text-decoration: none;
    img {
      width: 84px;
    }
  }
  .desc {
    p {
      @include typography(14px, 16px);
    }
    span {
      @include typography(11px, 13px);
      color: $borderTertiaryColor;
    }
  }
  .close {
    height: 40px;
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: scale(0);
    border: 0;
    &.scale {
      transform: scale(1);
    }
    img {
      width: 24px;
    }
  }
}

@media screen and (min-width: 375px) {
  header {
    .logo {
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .navbar {
      justify-content: space-around;
    }
    .hamburger-menu {
      display: none;
    }
    .logo {
      margin-left: 0;
      transform: translateY(-1px);
    }
    .navbar-menu {
      flex: 2;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      a {
        display: flex;
        height: 57px;
        justify-content: center;
        align-items: center;
        position: relative;
        @include typography(14px, 16px);
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          text-shadow: 0 0 0.65px $textPrimaryColor,
            0 0 0.65px $textPrimaryColor;
          &::after {
            content: "";
            display: block;
            position: absolute;
            left: -4px;
            right: -4px;
            margin-top: 30px;
            border-bottom: 1px solid $primaryColor;
          }
        }
      }
    }
    .icon {
      width: 58px;
      &.scale {
        transform: scale(1);
      }
    }
    .close {
      display: none;
    }
    .collections-menu {
      justify-content: space-between;
      padding-top: 18px;
      width: calc(100% + 24px);
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 1px solid $borderPrimaryColor;
        margin-top: -18px;
      }
      &.active {
        display: flex;
      }
    }
    .categories,
    .features {
      flex: 1.1;
      margin-top: 5px;
      h2 {
        @include typography(14px, 16px);
        max-width: 130px;
      }
      ul {
        margin-top: 16px;
        list-style: none;
        li {
          margin-bottom: 24px;
          a {
            @include typography(14px, 16px);
            text-decoration: none;
          }
        }
      }
    }
    .products {
      flex: 3.9;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    .item-product {
      max-width: 33.3%;
      padding-right: 24px;
    }
    .img-product {
      display: block;
      text-decoration: none;
      min-width: 100%;
    }
    .title-product {
      min-width: 100%;
      text-align: center;
      margin-top: 7px;
      a {
        @include typography(14px, 16px);
        text-decoration: none;
      }
    }
    .navbar-expand {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  header {
    .navbar-menu {
      padding-left: 43px;
      padding-right: 45px;
    }
    .icon {
      width: 80px;
    }
    .categories,
    .features {
      h2 {
        max-width: unset;
      }
    }
    .products {
      flex: 3;
    }
  }
}
