.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0 64px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    max-width: 1320px;
    padding: 0;
  }
}
