@import "../../assets/scss/variables/color";

.todo {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 88px auto 50px;
  }
  &-list {
    width: 100%;
    min-height: 500px;
    background-color: $bgColor;
    text-align: center;
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid $borderPrimaryColor;
    h1 {
      color: $textPrimaryColor;
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  &-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-input-wrapper {
    display: flex;
    width: 100%;
  }
  &-input {
    flex: 1;
    border-radius: 4px 0 0 4px;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid $borderPrimaryColor;
    outline: none;
    color: $textPrimaryColor;
    transition: 0.5s;
    &:focus {
      border: 2px solid $primaryColor;
    }
    &::placeholder {
      color: $textTertiaryColor;
    }
  }
  &-button {
    flex: 0.3;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: $primaryColor;
    color: $bgColor;
    transition: 0.5s;
    font-size: 14px;
    line-height: 16px;
    &:hover {
      opacity: 0.7;
    }
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: $bgColor;
    background-color: $primaryColor;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 15px;
    p {
      font-size: 14px;
      line-height: 16px;
      &.completed {
        text-decoration-line: line-through;
      }
    }
    &.completed {
      background-color: darken($primaryColor, 15%);
    }
  }
  &-icon {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    &-check,
    &-edit,
    &-delete,
    &-times {
      margin-right: 5px;
      transition: 0.5s;
      &:hover {
        opacity: 0.6;
      }
    }
    &-delete,
    &-times {
      margin-right: unset;
    }
  }
}

.select-filter {
  margin-bottom: 20px;
  width: 150px;
  border-radius: 4px;
}

@media screen and (min-width: 992px) {
  .todo {
    &-list {
      width: 50%;
    }
  }
}
