@import "../../assets/scss/variables/color";
@import "../../assets/scss/mixins/typography";

.breadcrumbs {
  margin-top: 54px;
  padding-top: 24px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      &::before {
        content: "|";
        font-weight: 500px;
        @include typography(12px, 14px);
        margin: 0 4px;
      }
      &:first-child::before {
        content: "";
        margin: 0;
      }
      a {
        @include typography(12px, 14px);
        text-decoration: none;
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
