.homepage {
  margin-top: 58px;
  padding-top: 7px;
}
.description {
  max-width: 100%;
  margin-bottom: 23px;
  padding-right: 30px;
  p {
    @include typography(12px, 25px);
  }
}
.section-title {
  @include typography(20px, 23px);
  &.title-discover {
    margin-bottom: 32px;
    text-align: center;
  }
}
.btn-see,
.btn-shop {
  width: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
}
.btn-shop {
  margin: 24px auto 0;
  width: 160px;
}
.img-hero {
  display: none;
}
.img-hero-mobile {
  max-width: 100vw;
}
.leaf {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  overflow-x: hidden;
}
.header-leaf {
  text-align: center;
  p {
    margin-top: 12px;
    @include typography(12px, 14px);
  }
}
.product-leaf {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% + 24px);
}
.item-leaf {
  max-width: 50%;
  margin-bottom: 24px;
  padding-right: 24px;
}
.img-leaf {
  display: block;
  text-decoration: none;
  min-width: 100%;
}
.title-leaf {
  min-width: 100%;
  text-align: center;
  margin-top: 5px;
  a {
    @include typography(12px, 14px);
    text-decoration: none;
  }
}
.discover {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 70px;
  overflow-x: hidden;
}
.discover-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discover-item {
  max-width: 100%;
  margin-bottom: 24px;
}
.img-discover {
  min-width: 100%;
}
.detail-discover {
  min-width: 81%;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 20px;
    @include typography(14px, 16px);
  }
  span {
    margin-top: 8px;
    @include typography(12px, 14px);
  }
  a {
    margin-top: 16px;
    margin-right: auto;
    @include typography(14px, 16px, $primaryColor);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 25.9vw;
  }
  .description {
    max-width: 47%;
    margin-bottom: 0;
    p {
      margin-top: -5px;
    }
    a {
      margin-top: 20px;
    }
  }
  .leaf {
    margin-top: calc(3.2vw - 10px);
  }
  .img-hero {
    display: block;
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .img-hero-mobile {
    display: none;
  }
  .item-leaf {
    max-width: 25%;
    margin-bottom: 0;
  }
  .title-leaf {
    margin-top: 7px;
  }
  .discover {
    padding-top: 40px;
    padding-bottom: 90px;
  }
  .discover-product {
    width: calc(100% + 64px);
  }
  .discover-item {
    max-width: 50%;
    padding-right: 64px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .homepage {
    padding-top: 50px;
  }
  .description {
    h1 {
      font-size: 24px;
      line-height: 28px;
    }
    p {
      margin-top: 0;
      font-size: 14px;
      line-height: 29px;
    }
    a {
      margin-top: 30px;
    }
  }
  .leaf {
    margin-top: 0;
    padding-top: calc(3vw - 3px);
  }
  .header-leaf {
    h2 {
      font-size: 24px;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
  .title-leaf {
    margin-top: 9px;
    a {
      font-size: 16px;
      line-height: 19px;
    }
  }
  .discover {
    h2 {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .detail-discover {
    p {
      font-size: 18px;
      line-height: 21px;
    }
    span {
      font-size: 18px;
      line-height: 21px;
    }
    a {
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .homepage {
    padding-top: 0;
  }
  .relative-wrapper {
    position: relative;
  }
  .hero {
    min-height: 410px;
  }
  .description {
    padding-top: 50px;
  }
  .leaf {
    padding-top: 40px;
  }
}
