@import "../../assets/scss/variables/color";
@import "../../assets/scss/mixins/typography";

.carousel {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.arrow-left-slick,
.arrow-right-slick {
  position: absolute;
  border: 0;
  outline: none;
  background-color: $bgModalColor;
  border-radius: 50%;
  top: calc(50% - 63px);
  left: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.arrow-left-slick {
  z-index: 1;
}
.arrow-right-slick {
  left: unset;
  right: 16px;
}
.slick-dots {
  display: flex !important;
  justify-content: center;
  position: relative;
  bottom: unset;
  margin-top: 12px;
  width: calc(100% + 19px);
  li {
    width: unset;
    height: unset;
    margin: unset;
    margin-right: 19px;
    padding: unset;
    cursor: pointer;
    &.slick-active .img-slick-nav {
      border: 1px solid $primaryColor;
    }
  }
}
.img-slick-nav {
  border: 1px solid $borderPrimaryColor;
  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

@media screen and (min-width: 992px) {
  .slick-dots {
    margin-top: 24px;
    width: calc(100% + 20px);
    li {
      margin-right: 20px;
    }
  }
}
